<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Sheet Show</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Sheet Show</a>
      </h1>
      <nav>
        {{!-- Since logout won’t be an actual page that users can visit, it should be a button, but we can still style it to look like a link. --}}
        {{#if loggedIn}}
         {{!-- <a href="/dashboard">dashboard</a> --}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
          <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{!-- Variable used by handlebars to build content --}}
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>