<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Sheet Show</title>
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">

  
    {{!-- Navigation css --}}
    <style>
        body {
          font-family: 'Lato', sans-serif;
        }

        .overlay {
          height: 0%;
          width: 100%;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0, 0.9);
          overflow-y: hidden;
          transition: 0.5s;
        }

        .overlay-content {
          position: relative;
          top: 25%;
          width: 100%;
          text-align: center;
          margin-top: 30px;
        }

        .overlay a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
          color: #f1f1f1;
        }

        .overlay .closebtn {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 60px;
        }

        @media screen and (max-height: 450px) {
          .overlay {overflow-y: auto;}
          .overlay a {font-size: 20px}
          .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px;
          }
        }
    </style>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Sheet Show</a>
      </h1>
      <nav>
        <span onclick="openNav()">☰</span>

        {{!-- The Naviagational overlay --}}
        <div id="myNav" class="overlay">

          {{!-- Button to close the overlay navigation --}}
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

          <!-- Overlay content when hit nav button -->
          <div class="overlay-content">
             <a href="/">Home</a>
             {{#if loggedIn}}
              
              <a id="My Characters" href="/profile">My Characters</a>
              <a id="My Characters" href="/character-creator">Create New Character</a>
              <a id="logout" href="/">logout</a>  

            {{else}}
              <a href="/login">login</a>
            {{/if}}
            <hr>
            <a href="https://github.com/barrantesc/The-Sheet-Show" target="_blank">
              About
            </a>
          </div>

        </div>
        {{!-- Since logout won’t be an actual page that users can visit, it should be a button, but we can still style it to look like a link. --}}
       
      </nav>
    </header>
    <main>
      {{!-- Variable used by handlebars to build content --}}
      {{{ body }}}
    </main>
    <footer>
      {{!-- Thanks for visiting! --}}
    </footer>
  </div>
  <script src="/javascript/navigation.js"></script>
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/character.js"></script>
  {{/if}}
</body>

</html>