
<div class="errorDivElement" id="errorDiv">

    <img src = "./assets/logos/Logo.png" alt ="square logo" height="180">
    <div class="errorTextDiv">
        <h1>Argh!</h1> 
        <br>
        <h5>You either rolled a NAT 1, or this page doesn't exist.</h5>
        <h5>Please return to the <a href="/">homepage.</h5>
    </div>
    

</div>