{{!-- <ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol> --}}


{{!-- What will be in the homepage? Will it show character info, previous characters selected?  --}}
  
<ol class="character-list">
  {{#each heros as |hero|}}
    <li>
      {{> character-details }}
    </li>
  {{/each}}
</ol>