
<section class="character-list">
  {{#each heros as |hero|}}
      
      <div class="hero-card">
        {{> character-details }}
      </div>
  {{/each}}
</section>

<div class="peskyPClass" id="peskyPID">
  <p>Welcome to the Sheet Show! <br> To explore our options please click the <br> Navigation Bars at the top right of the screen.</p>
</div>
