<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>document.getElementById("peskyPID").style.display = "none"</script>

<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text">
            {{!-- <h2>Application<br> Login Page</h2> --}}
            <h2>Login or register to access.</h2>
         </div>
      </div>
      <div class="main">
         <div class="col-md-5 col-sm-12">
            <div >
               <form class="login-form">
                  <div class="form-group">
                     <label>Email</label>
                     <input type="text" class="form-control" placeholder="User Name" id="email-login">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" id="password-login">
                  </div>
                  <button type="submit" class="btn btn-black">Login</button>
               </form>

               <form class="signup-form">
                 <div class="form-group">
                     <label>Username</label>
                     <input type="text" class="form-control" placeholder="Username" id="username-signup">
                  </div>
                  <div class="form-group">
                     <label>Email</label>
                     <input type="text" class="form-control" placeholder="Email" id="email-signup">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" id="password-signup">
                  </div>
                  
                  <button type="submit" class="btn btn-secondary">SignUp</button>
               </form>
            </div>
         </div>
      </div>
      

  

<script src="/javascript/login.js"></script>