{{#if loggedIn}}
    <div class="heros">
        <p>{{username}}'s Heroes</p>
        {{#each heros as |hero|}}
            <div class="hero-card">
                {{> character-details}}
            </div>
        {{/each}}
    </div>

{{/if}}