{{#if loggedIn}}
    <section class="profile-banner-username">
        <p>{{username}}'s Heroes</p>
    </section>
    
    <section class="character-list">
        {{#each heros as |hero|}}
            <div class="hero-card">
                {{> character-details}}
            </div>
        {{/each}}
    </section>
{{/if}}