/* STYLESHEET FOR LOGIN/SIGNUP PAGE */

:root {
     /* ROOT colors used */
     --color_Primary: black;
     --color_Secondary: #4ed1c4;
     --color_Tertiary: #F9F9F9;
     
     /* Accents to ROOT colors */
     --accent_Primary: var(--color_Secondary);
     --accent_Secondary: var(--color_Tertiary);
}

.login {
    border: var(--color_Primary);
    border-radius: 5px;
    align-items: center;
}

.signup {
    border: var(--color_Primary);
    border-radius: 5px;
    align-items: center;
}